#ifndef _SQLITE_SAMPLE_H
#define _SQLITE_SAMPLE_H

#include "sqlite3ext.h"

#define SQLITE_SAMPLE_VERSION "v${VERSION}"
#define SQLITE_SAMPLE_DATE "${DATE}"
#define SQLITE_SAMPLE_SOURCE "${SOURCE}"

#ifdef __cplusplus
extern "C" {
#endif

int sqlite3_sample_init(sqlite3*, char**, const sqlite3_api_routines*);

#ifdef __cplusplus
}  /* end of the 'extern "C"' block */
#endif

#endif /* ifndef _SQLITE_SAMPLE_H */
